<div class="Msell-Modal Msell-Modal--Light {{#if className}}{{className}}{{/if}}" {{#if id}}id="{{id}}"{{/if}}>
  <div class="Msell-Modal-Dialog">
    <div class="Msell-Modal__Content">
      <button type="button" class="Msell-Modal-Close">
        {{> ../../icons/cancel}}
      </button>

    </div>
  </div>
</div>