<div class="Msell-Dropdown-Button {{#if className~}}{{className}}{{~/if}} {{#unless className~}}Msell-Dropdown-Button--Default{{~/unless}} notranslate" {{#if id~}}id="{{id}}"{{~/if}}>
  {{{body}}}
</div>