<div id="review-section"
     data-product-id="{{ product.id }}"
     data-product-handle="{{ product.handle }}">
</div>


<link rel="stylesheet" href="{{ 'review-widget.css' | asset_url }}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.19.0/js/md5.min.js"></script>
<script src="{{ 'grocom-widget.js' | asset_url }}" defer></script>




{% schema %}
{
  "name": "Widget Review",
  "target": "section",
  "settings": []
}
{% endschema %}
