<div id="grocom-review"
     data-product-id="{{ product.id }}"
     data-product-handle="{{ product.handle }}">
</div>


<link rel="stylesheet" href="{{ 'review-widget.css' | asset_url }}">

<script src="{{ 'grocom-widget.js' | asset_url }}" defer></script>




{% schema %}
{
  "name": "Widget Review",
  "target": "body",
  "settings": []
}
{% endschema %}
