<div class="Msell-CountdownTimer">
  <div class="Msell-CountdownTimer-Card Msell-CountdownTimer-Days">
  </div>
  <div class="Msell-CountdownTimer-Card Msell-CountdownTimer-Hours">
    <div class="Msell-CountdownTimer-FlipCard">
      <div class="Msell-CountdownTimer-Top"></div>
      <div class="Msell-CountdownTimer-Bottom"></div>
    </div>
    <div class="Msell-CountdownTimer-FlipCard">
      <div class="Msell-CountdownTimer-Top"></div>
      <div class="Msell-CountdownTimer-Bottom"></div>
    </div>
  </div>
  <div class="Msell-CountdownTimer-Card Msell-CountdownTimer-Minutes">
    <div class="Msell-CountdownTimer-FlipCard">
      <div class="Msell-CountdownTimer-Top"></div>
      <div class="Msell-CountdownTimer-Bottom"></div>
    </div>
    <div class="Msell-CountdownTimer-FlipCard">
      <div class="Msell-CountdownTimer-Top"></div>
      <div class="Msell-CountdownTimer-Bottom"></div>
    </div>
  </div>
  <div class="Msell-CountdownTimer-Card Msell-CountdownTimer-Seconds">
    <div class="Msell-CountdownTimer-FlipCard">
      <div class="Msell-CountdownTimer-Top"></div>
      <div class="Msell-CountdownTimer-Bottom"></div>
    </div>
    <div class="Msell-CountdownTimer-FlipCard">
      <div class="Msell-CountdownTimer-Top"></div>
      <div class="Msell-CountdownTimer-Bottom"></div>
    </div>
  </div>
</div>