<div class="Msell-Bundle__Quantity">
  <button class="Msell-Bundle__Quantity-Button" aria-label="Decrease quantity" name="minus" type="button" disabled>
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 10 2">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z">
    </path></svg>
  </button>
  <input type="number" name="Msell-w{{widgetID}}-p{{prod.id}}" aria-label="Quantity" value="1" min="1" max="" id="Msell-w{{widgetID}}-p{{prod.id}}" data-index="1">
  <button class="Msell-Bundle__Quantity-Button" aria-label="Increase quantity" name="plus" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 10 10">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z">
    </path></svg>
  </button>
</div>